# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
fronted/node_modules
../ace

# testing
fronted/coverage

# production
fronted/build

# misc
.DS_Store
.env
npm-debug.log
