.closed.list {
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
  max-height: 0vh;
}

.open.list {
  overflow: scroll;
  transition-timing-function: ease-out;
  transition-duration: 1s;
  max-height: 40vh;
  &.chapter {
    max-height: 78vh;
  }
  &.section {
    max-height: 60vh;
  }
  transform: translateX(0vw);
  border: none;
}
