$blue: #61DAFB;
$darkgrey: #222222;
$lightgrey: #bbb;

.guide-list-item {
  border: solid $darkgrey 1px;
  border-radius: 4px;
  margin: 2rem auto;
  width: 90vw;
  .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: $blue;
    padding: 1rem 0;
    border-bottom: solid grey 1px;
    background-color: $darkgrey;
    .guide-link {
      padding: 0.5rem 2vw;
      margin: 0 2vw;
      border-radius: 20px;
      border: solid $blue 2px;
      color: $blue;
      &:hover {
        color: orange;
      }
    }
    .text {
      display: flex;
      align-items: flex-end;
      position: relative;
      .toggle-descript {
        position: absolute;
        top: 16%;
        right: -2vw;
        padding: 0.4vw 0.45vw;
        margin: 0 0.375vw;
        color: $blue;
        font-size: 1.2rem;
        &:hover, &.active {
          color: orange;
          cursor: pointer;
        }
      }
    }
    .description {
      margin: 0 0 0 0.75vw;
      padding: 0.5rem 2vw;
      font-size: 0.9rem;
      color: $lightgrey;
    }
    .edit-guide {
      color: $blue;
      margin: 0 2vw 0 auto;
      font-size: 1.3rem;
      &:hover {
        color: orange;
      }
    }
  }
}
