$blue: #61DAFB;
$darkgrey: #222222;
$lightgrey: #bbb;

// content
#guide.list {
  width: 100%;
  .guide.list {
    // master list item | |
    //                  V V
    border-left: none;
    .guide.list-item {
      border: solid $darkgrey 1px;
      border-radius: 4px;
      margin: 2rem auto;
      width: 90vw;
      .header {
        display: flex;
        align-items: center;
        div.link {
          display: flex;
          justify-content: center;
          align-items: center;
          a.link {
            border-radius: 20px;
            border: solid $blue 2px;
            color: $blue;
            padding: 0.5vw 1vw;
            margin: 0 2vw;
          }
          .toggle {
            color: $blue;
            &:hover, &.active {
              color: orange;
              cursor: pointer;
            }
          }
          .description { &.hidden {} }
        }
      }
      .edit {
        color: $blue;
        margin: 0 2vw 0 auto;
        font-size: 1.3rem;
        &:hover {
          color: orange;
        }
      }
    }
  }
}
