#header {
  background-color: #222;
  padding: 20px;
  color: white;
  .logo {
    animation: logo-spin infinite 20s linear;
    height: 80px;
  }
  .links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    label {
      padding: 0.5rem;
    }
    .link {
      padding: 0.5rem;
      border-left: solid 2px #61DAFB;
      &:first-child {
        border-left: none;
      }
      a {
        color: #61DAFB;
        text-decoration: none;
      }
    }
  }
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
