$darkgrey: #222;
$lightgrey: #e4e4e4;

.chapter-list {
  .first-chapter {
    border-top: solid $darkgrey 1px;
    .add-chapter {
      margin: 2vw 2.5vw 2vw auto;
      float: right;
    }
    .header {
      clear: both;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 2vw 5vw;
      border-top: solid $darkgrey 1px;
      background-color: $lightgrey;
      .title {
        padding: 0;
        background: transparent;
        border: none;
        .chapter-number {

        }
      }
    }
  }
  .chapter {
    border-top: solid $darkgrey 1px;
    background-color: $lightgrey;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2vw 5vw;
    .add-chapter {
      margin: 2vw auto 0 3vw;
      float: left;
    }
    .title {
      padding: 0;
      background: transparent;
      border: none;
      .chapter-number {

      }
    }
  }
}
